#root {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;

  >.app {
    max-width: 900px;
    min-width: 400px;
    margin: 0 auto;
    height: 100%;

    > main {
      display: flex;
    }

  }

}

.logo {
  text-align: right;
  font-style: italic;
  margin: 0.5em 1em;
}

.bottom-panel {
  width: 300px;
  margin: 2em auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.playback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
    margin: 0.5em auto;

    > button {
      border: 1px solid gray;
    }

  }
  .status {
    margin: 0.25em 0;
  }
}

.play-list {

  display: inline-block;
  transition: width 0.5s;

  > ul {

    margin: 0;
    padding: 1em;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 0.5em;

      &.current {
        background-color: rgba(255,255,255,0.35);
      }

      .title {
        cursor: grab;
      }

      > .buttons {
        margin: 0.25em;
      }

      &.over {
        border-top: 2px solid lightGray;
      }
    }

  }

}
.buttons {

  display: flex;
  justify-content: center;
  align-items: center;

  >* {
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.track-picker {

  flex-grow: 1;

  > form.search {
    display: flex;
    justify-content: center;
  }

  >.track-list {
    margin: 0;
    padding: 3em 2em;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    > li {
      position: relative;
      background-color: rgba(255,255,255,0.45);
      border-radius: 0.5em;
      width: 80px;
      height: 50px;
      padding: 0.5em 0.25em;
      margin: 0.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;

      > .buttons {
        display: none;
        position: absolute;
        top:0; bottom:0; left:0; right:0;
        > .material-icons {
          font-size: 1.75em;
          margin: 0.1em;
        }
      }

      &:hover {
        > .title {
          filter: blur(2px) opacity(0.5);
        }
        > .buttons {
          display: flex;
        }
      }

    }
  }
}