@headerColor: rgba(174,225,225,0.35);

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
}
a {
  text-decoration: initial;
  color: inherit;
  &:visited {
    color: inherit;
  }
}
.scenario {
  padding: 0.25em;
}
.menu-group {
  display: flex;
  justify-content: space-between;
}
.centered {
  display: flex;
  justify-content: center;
}
nav.menu {
  display: flex;
  justify-content: center;
  
  > button {
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.1);
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:focus {
      outline: none;
    }
    &:disabled {
      opacity: 0.35;
    }
  }
}

.app-window {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  
  > header {
    background-color: @headerColor;
    padding: 0.5em;
  }

  > footer {
    display: flex;
    justify-content: space-between;

    > a {
      background-color: @headerColor;
      padding: 0.75em 1.5em;
    }
  }

  > main {
    display: flex;
    flex-direction: column;

    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      > li {
        text-align: center;
        padding: 0.75em 0;
        transition: background-color 0.5s;

        >a {
          display: block;
        }
          
        >.details {
          text-align: left;
          transition: height 0.2s;
          height: 0;
          overflow: hidden;S
          
          button {
            font-size: 1.25em;
          }

          >.tags {
            padding: 0.5em 0;

            >a {
              display: inline-flex;
              justify-content: center;
              opacity: 0.75;
              font-size: 0.75em;
              > i {
                font-size: 1em;
                padding: 0 0.25em;
                color: #7EE;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
        &:hover {
          background-color: rgba(255,255,255,0.10);
        }
        &.selected {
          background-color: rgba(255,255,255,0.15);

          >.details {
            height: 3em;
            padding: 0.2em;
          }
        }
        &.active > a {
          &:before {
            content: '[ ';
          }
          &:after {
            content: ' ]';
          }
        }
        
      }
    }
    > form {
      display: flex;

      input[type="text"].terminal {
        background-color: black;
        font-size: 1em;
        color: white;
        border: 1px solid white;
        padding: 0.75em;
        flex: 2;

        &:focus {
          border: 1px solid #AF8;
          outline: yellow;

          &::placeholder {
            display: none;
          }
        }
      }
    }
  }
}